html, body {
  margin: 0;
  min-height: 100%; height: 100%;
  font-family: Arial;
  overflow: hidden;
}
#body {
  width: 100%; height: 100%;
  background: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#2E5E8A,#91209B 90%);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  cursor: none;
}
#logo img {
  position: absolute;
  z-index: 1;
  height: 80px;
  bottom: 30px; left: 30px;
  pointer-events: none;
}

.c {
  position: absolute;
  z-index: 99;
  pointer-events: none;
  width: 28px; height: 40px;
  -webkit-transition: ease-out -webkit-filter 1s;
}

.fill {
  fill: red;
}
