html, body {
  margin: 0;
  min-height: 100%; height: 100%;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  text-shadow: 0 1px rgba(0,0,0,.3);
}
#body {
  width: 100%; height: 100%;
  background: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#2E5E8A,#91209B 90%);
  cursor: none;
}
#logo img {
  position: absolute;
  z-index: 1;
  height: 80px;
  bottom: 30px; left: 30px;
  pointer-events: none;
}

#name {
  position: absolute;
  bottom: 70px; left: 150px;
}
#name input {
  background: transparent;
  border: none;
  border-bottom: solid 1px rgba(255,255,255,.5);
  padding: 3px 0;
  color: white;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.c {
  position: absolute;
  z-index: 99;
  pointer-events: none;
  width: 28px; height: 40px;
  -webkit-transition: ease-out -webkit-filter 1s;
}
.name {
  position: absolute;
  top: 7px; left: 100%;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fill {
  fill: red;
}
